<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="userAssets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- Libraries Stylesheet -->
    <link href="userAssets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<!-- AOS CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="userAssets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <img src="/userAssets/img/sp.jpg" alt="Logo" style="max-width: 150px; height: auto;">

                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent" style="color: #98d5ca;">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart" style="color: #98d5ca;"></i>
                    <span class="badge">0</span>
                </a>
                <a href="" class="btn border">
                    <i class="fas fa-shopping-cart" style="color: #98d5ca;"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px; background-color: #98d5ca;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden">
                      <% categories.forEach(category => { %>
                        <div class="nav-item dropdown">
                          <a href="#" class="nav-link" data-toggle="dropdown">
                            <%= category.name %> 
                            <i class="fa fa-angle-down float-right mt-1"></i>
                          </a>
                          <% if (categoryProductsMap[category._id]) { %>
                            <div class="dropdown-menu bg-secondary border-0 rounded-0 w-100 m-0">
                              <% categoryProductsMap[category._id].forEach(product => { %>
                                <a 
                                  style="color: #98d5ca;" 
                                  href="/product/<%= product._id %>" 
                                  class="dropdown-item"
                                >
                                  <%= product.name %>
                                </a>
                              <% }) %>
                            </div>
                          <% } %>
                        </div>
                      <% }) %>
                    </div>
                  </nav>
            </div>
            
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <img src="/userAssets/img/sp.jpg" alt="Logo" style="max-width: 150px; height: auto;">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/about" class="nav-item nav-link">About</a>
                            <a href="detail.html" class="nav-item nav-link">Services</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Products</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <a href="https://heyzine.com/flip-book/c3143e1818.html" target="_blank" class="nav-item nav-link">E-Brochure</a>
                            <a href='/quote' class="nav-item nav-link">Instant Quote</a>
                            <a href="/login" class="nav-item nav-link">Login</a>
                        </div>
                    </div>
                </nav>
            
                <!-- WhatsApp Floating Button -->
                <a href="https://wa.me/971503059649" target="_blank" class="whatsapp-float">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="60" height="60">
                </a>
            
                <style>
                    .whatsapp-float {
                        position: fixed;
                        bottom: 20px;
                        right: 20px;
                        z-index: 1000;
                        cursor: pointer;
                    }
                    .whatsapp-float img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    }
                </style>
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="userAssets/img/Bnr1.jpeg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <!-- <h4 class="text-light text-uppercase font-weight-medium mb-3">Custom-printed Food boxes, paper cups and bags</h4> -->
                                    <!-- <h3 class="display-4 text-brown font-weight-semi-bold mb-4">Custom-printed Food boxes, paper cups and bags</h3> -->
                                    <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="userAssets/img/Bnr1.jpeg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <!-- Premium Quality Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 30px; height: 120px;">
                    <h1 class="fa fa-check m-0 mr-3" style="color: #98d5ca;"></h1>
                    <h5 class="font-weight-semi-bold m-0">Premium Quality</h5>
                </div>
            </div>
    
            <!-- Free Shipping Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 30px; height: 120px;">
                    <h1 class="fa fa-shipping-fast m-0 mr-2" style="color: #98d5ca;"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
    
            <!-- Customer Support Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 30px; height: 120px;">
                    <h1 class="fa fa-phone-volume m-0 mr-3" style="color: #98d5ca;"></h1>
                    <h5 class="font-weight-semi-bold m-0">Customer Support</h5>
                </div>
            </div>
        </div>
    </div>

  
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
          <h2 class="section-title px-5"><span class="px-2">Our categories</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
          <% categories.forEach(category => { 
               const categoryId = category._id.toString();
               const productCount = categoryProductsMap[categoryId] ? categoryProductsMap[categoryId].length : 0;
          %>
            <div class="col-lg-4 col-md-6 pb-1">
              <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right"><%= productCount %> Products</p>
                <a href="/products/category/<%= categoryId %>" class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="<%= category.image[0] %>" alt="<%= category.name %>">
                </a>
                <h5 class="font-weight-semi-bold m-0"><%= category.name %></h5>
              </div>
            </div>
          <% }) %>
        </div>
    </div>
      
     <!-- Categories End -->


    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="text-center mb-4">
                    <h2 class="section-title px-5"><span class="px-2">Our Services</span></h2>
                </div>
                <div class="owl-carousel service-carousel">
                    <!-- Digital Printing -->
                    <div class="service-item border p-4 text-center bg-secondary" style="color: #7f6850;">
                        <img src="userAssets/img/cards-1.jpg" alt="Digital Printing" class="img-fluid mb-3">
                        <h4 class="text-uppercase">Digital Printing</h4>
                        <p>High-quality digital printing for customized packaging, branding, and promotional materials with sharp details and vibrant colors.</p>
                    </div>
                    <!-- Offset Printing -->
                    <div class="service-item border p-4 text-center bg-secondary" style="color: #7f6850;">
                        <img src="userAssets/img/cards-2.jpg" alt="Offset Printing" class="img-fluid mb-3">
                        <h4 class="text-uppercase">Offset Printing</h4>
                        <p>Cost-effective printing solution for large-scale packaging with superior image quality and precise color matching.</p>
                    </div>
                    <!-- Flexo Printing -->
                    <div class="service-item border p-4 text-center bg-secondary" style="color: #7f6850;">
                        <img src="userAssets/img/cards-3.jpg" alt="Flexo Printing" class="img-fluid mb-3">
                        <h4 class="text-uppercase">Flexo Printing</h4>
                        <p>Fast and efficient printing technique for packaging materials, including paper, plastic, and corrugated boxes, ensuring durability and quality.</p>
                    </div>
                    <!-- Graphic Designing -->
                    <div class="service-item border p-4 text-center bg-secondary" style="color: #7f6850;">
                        <img src="userAssets/img/cards-4.jpg" alt="Graphic Designing" class="img-fluid mb-3">
                        <h4 class="text-uppercase">Graphic Designing</h4>
                        <p>Creative and professional graphic design services for branding, packaging, and marketing materials to enhance your business image.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Services End -->

    <style>
  .step-icon i {
    font-size: 28px;
    color: #343a40; /* dark icon color */
  }

  .step-box {
    padding: 20px;
  }
</style>


    <div class="container-fluid py-5" id="services">
  <!-- Section Title -->
  <div class="container mb-5" data-aos="fade-up">
   
    <div class="text-center mb-4">
                    <h2 class="section-title px-5"><span class="px-2">HOW WE WORK IN 4 EASY STEPS</span></h2>
                </div>
    <p class="text-center">
      Our process is simple and efficient. Follow these four easy steps to
      get started and experience a seamless journey with us.
    </p>
  </div>

  <!-- Services Section -->
  <div class="container">
  <div class="row gy-5"> <!-- Added vertical gap with gy-5 -->

    <!-- Step 1 -->
    <div class="col-md-6 d-flex step-box" data-aos="fade-up" data-aos-delay="100">
      <div class="step-icon me-3 mt-1">
        <i class="bi bi-gear"></i>
      </div>
      <div>
        <h5 class="fw-bold mb-2 text-center">Choose Your Product</h5>
        <p class="mb-0">Browse through our wide range of packaging options tailored for your needs.</p>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="col-md-6 d-flex step-box" data-aos="fade-up" data-aos-delay="200">
      <div class="step-icon me-3 mt-1">
        <i class="bi bi-pencil-square"></i>
      </div>
      <div>
        <h5 class="fw-bold mb-2 text-center">Customize & Order</h5>
        <p class="mb-0">Add your logo or specific design needs and place your order with ease.</p>
      </div>
    </div>

    <!-- Step 3 -->
    <div class="col-md-6 d-flex step-box" data-aos="fade-up" data-aos-delay="300">
      <div class="step-icon me-3 mt-1">
        <i class="bi bi-truck"></i>
      </div>
      <div>
        <h5 class="fw-bold mb-2 text-center">Fast Production</h5>
        <p class="mb-0">We quickly get to work crafting your customized packaging to perfection.</p>
      </div>
    </div>

    <!-- Step 4 -->
    <div class="col-md-6 d-flex step-box" data-aos="fade-up" data-aos-delay="400">
      <div class="step-icon me-3 mt-1">
        <i class="bi bi-check-circle"></i>
      </div>
      <div>
        <h5 class="fw-bold mb-2 text-center">Delivery & Satisfaction</h5>
        <p class="mb-0">Get your order delivered on time and enjoy our quality service and support.</p>
      </div>
    </div>

  </div>
</div>



</div>


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trending Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            
            <% products.forEach(product => { %>
  <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border-0 mb-4">
      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        <img class="img-fluid w-100" src="<%= product.image[0] %>" alt="<%= product.name %>">
      </div>
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
        <h6 class="text-truncate mb-3"><%= product.name %></h6>
        <div class="d-flex justify-content-center">
          <h6>MOQ: <%= product.moq %></h6>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between bg-light border">
        <a href="/product/<%= product._id %>" class="btn btn-sm text-dark p-0">
          <i class="fas fa-eye text-primary mr-1"></i>View Detail
        </a>
        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
      </div>
    </div>
  </div>
<% }) %>

      
           
        </div>
    </div>
    <!-- Products End -->


    <!-- Call to Action Start -->
    <div class="container-fluid my-5" style="background-color: #89ADA3;">
        <div class="row justify-content-md-center py-5 px-xl-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-8 col-12 py-5 text-center text-white">
                <h2 class=" px-3 mb-3 text-black fw-bold" style="text-decoration: none;">Want to Know More About Our Services???</h2>
                <p>Get in touch with us to explore our services and find the perfect solution for your needs!</p>
                <a class="btn px-5 py-3 mt-3" style="background-color: #7f6850; color:black;" href="tel:+971XXXXXXXXX">Call To Action</a>
            </div>
        </div>
    </div>
    
    
    
    <!-- Call to Action End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Customized Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            
            <% custProducts.forEach(product => { %>
  <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border-0 mb-4">
      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        <img class="img-fluid w-100" src="<%= product.image[0] %>" alt="<%= product.name %>">
      </div>
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
        <h6 class="text-truncate mb-3"><%= product.name %></h6>
        <div class="d-flex justify-content-center">
          <h6>MOQ: <%= product.moq %></h6>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between bg-light border">
        <a href="/product/<%= product._id %>" class="btn btn-sm text-dark p-0">
          <i class="fas fa-eye text-primary mr-1"></i>View Detail
        </a>
        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
      </div>
    </div>
  </div>
<% }) %>

      
           
        </div>
    </div>
    <!-- Products End -->

   
   
    
   


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Our Clients</span></h2>
        </div>
        <div class="row px-xl-5">

            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-1.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-2.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-3.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-4.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-5.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-6.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-7.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="userAssets/img/vendor-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->

    <!-- Testimonials Section -->
<div class="container-fluid pt-5 team">
    <div class="row px-xl-5">
        <div class="col">
            <div class="text-center mb-4" data-aos="fade-up">
                <h2 class="section-title px-5"><span class="px-2">Stories of Satisfaction</span></h2>
                <p style="color: black;">
                    Our clients’ satisfaction is our top priority. Don’t just take our word for it—
                    hear from those who have experienced our services firsthand. Their stories and 
                    feedback reflect our commitment to excellence and quality.
                </p>
            </div>

            <div class="owl-carousel service-carousel">
                <% const testimonials = [
                    { name: "Walter White", company: "Waffries", image: "userAssets/img/team-1.jpg", feedback: "Exceptional service! The team was professional, responsive, and delivered exactly what we needed. Highly recommended!" },
                    { name: "Sarah Jhonson", company: "Kidzania", image: "userAssets/img/user.jpg", feedback: "From start to finish, the process was smooth and hassle-free. Great team, great service!" },
                    { name: "William Anderson", company: "Chili's", image: "userAssets/img/team-2.jpg", feedback: "Reliable, efficient, and top-notch quality." },
                    { name: "Amanda Jepson", company: "Frango", image: "userAssets/img/team-3.jpg", feedback: "They understood our requirements perfectly and exceeded our expectations!" },
                    { name: "David Paul", company: "Gloria Foods", image: "userAssets/img/team-4.jpg", feedback: "Professional and consistent, with timely delivery and attention to detail." },
                    { name: "Rita Allen", company: "BakeMe", image: "userAssets/img/user.jpg", feedback: "Creative solutions, and very customer-focused. Would work with them again!" }
                ]; %>

                <% testimonials.forEach(member => { %>
                    <div class="vendor-item border p-4 text-center testimonial-card" data-aos="fade-up">
    <div class="member position-relative overflow-hidden">
        <img src="<%= member.image %>" class="img-fluid rounded-circle mb-3 " alt="<%= member.name %>">
        <div class="member-info">
            <div class="member-info-content">
                <h4 style="color: white;"><%= member.name %></h4>
                <span style="color: goldenrod;"><%= member.company %></span>
                <p class="mt-2 text-light testimonial-text"><%= member.feedback %></p>
            </div>
        </div>
    </div>
</div>

                <% }) %>
            </div>
        </div>
    </div>
</div>




    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                    Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="userAssets/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="userAssets/lib/easing/easing.min.js"></script>
    <script src="userAssets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="userAssets/mail/jqBootstrapValidation.min.js"></script>
    <script src="userAssets/mail/contact.js"></script>
    <!-- AOS JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        
        AOS.init({
            duration: 1000,
        });
        
      </script>
      <script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 20,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive:{
        0:{ items:1 },
        768:{ items:2 },
        992:{ items:3 }
      }
    });
  });
</script>
      
    <!-- Template Javascript -->
    <script src="userAssets/js/main.js"></script>
</body>

</html>